<div class="col-xs-4">
    <div class="img-cont">
        <img class="group imperator-sprite" src="assets/imperator.jpg" />
    </div>
</div>
<div class="col-xs-8">
    <p class="description">
        <span class="glyphicon glyphicon-flash"></span> supports npm, bower, jspm, nuget and many more...</p>
    <p class="description">
        <span class="glyphicon glyphicon-flash"></span> installs any existing module, plugin or addin</p>
    <p class="description">
        <span class="glyphicon glyphicon-flash"></span> scaffolds projects and excells at fast project templating</p>
    <p class="description">
        <span class="glyphicon glyphicon-flash"></span> works out of the box in any modern browser/OS combination</p>
</div>
