
@charset "UTF-8";
@import "./variables";

html, body {
    background-color: $background-color;
    color: $body-color;
} 

body {
    overflow-x: hidden;
  }
  
  #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
   
  #wrapper.toggled {
    padding-left: $sidebar-width;
  }
  
  #sidebar-wrapper {
    position: fixed;
    left: $sidebar-width;
    top: 55px;
    height: 100%;
    margin-left: -$sidebar-width;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
  }
  
  
  .sidebar-toggle{
    background-color: transparent;
    color: #5f5f44;
    font-size: 24px;
    border: none;
    padding: 0;
  }
  .sidebar-toggle:focus {
    outline: transparent;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: $sidebar-width;
  } 
  
  #page-content-wrapper {
    width: 100%;
    position: absolute;
    padding-left: 15px;
  }
  
  #wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -$sidebar-width;
  }
  
  
  /* Sidebar Styles */
  
  .sidebar-nav {
    position: absolute;
    top: 0;
    width: $sidebar-width;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
  }
  
  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: $text-color;
  }
  .sidebar-nav li.active a {
    color: $active-color;
    background: #142020;
  }
  
  .sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
  }
  
  .sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
  }
  
  .sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
  }
  
  .sidebar-nav>.sidebar-brand a {
    color: #999999;
  } 
  
  .sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
  }
  
  #wrapper.toggled .glyphicon-chevron-right, #wrapper .glyphicon-chevron-left {
    display: none;
    transition: all 0.5s ease;
  }
  #wrapper.toggled .glyphicon-chevron-left, #wrapper .glyphicon-chevron-right {
    display: block;
    transition: all 0.5s ease;
  }


  .description{
    color: $text-color; 
    font-size: 16px;
    padding: 5px 5px 0; 
  } 

  .group {
    margin-bottom: 10px;
  }

  .img-cont {
      width: 256px;
      height: 394px;
      overflow: hidden;
  }

  .imperator-sprite {
    display: block;
    height: 100%;
    width: auto;
    max-width: none;
    transform-origin: center;
    animation: img 2.0s steps(6) infinite ;
  }
  
  @keyframes img {
    0%,100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-1536px);
    }    
  }

  @media(min-width:768px) {
    #wrapper {
      padding-left: 0;     
    }
    #wrapper.toggled {
      padding-left: $sidebar-width;
    }
    #sidebar-wrapper {
      width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
      width: $sidebar-width;
    }
    #page-content-wrapper {
      padding-left: 20px;
      position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
    }
  }